<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}Jadoo{% endblock %}</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- ===== CSS ===== -->
    <link rel="stylesheet" href="../../static/home_page/home_page.css">
        
    <!-- ===== Boxicons CSS ===== -->
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
</head>
<body>
{#<div class="img_cover">#}
{#    <img src="../../media/welcome_page_images/img.png">#}
{#</div>#}
    <nav>
        <div class="nav-bar">
            <i class='bx bx-menu sidebarOpen' ></i>
            <img src="../../media/shop_home/logo1.png">
            <span class="logo navLogo"><a href="#">Jadoo</a></span>
            <div class="menu">
                <ul class="nav-links">
                    <li><a href="{% url "account:login" %}">SignIn</a></li>
                    <li><a href="{% url "account:signup" %}">SignUp</a></li>
                    <li><a href="{% url "shop:home" %}">Home</a></li>
                </ul>
            </div>
        </div>
    </nav>

    {% block content %}
    {% endblock %}
</body>
</html>