{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Jadoo∙LogIn</title>
	<link rel="stylesheet" href="../../../static/login.css">

    

</head>
<body>
	<section>
		<img src="../../../media/main_page/back1.jpg" class="bg">

		<div class="login">
            <form method="post">
                {% csrf_token %}
			<h2>Sign In</h2>
			<div class="inputBox">
				<input type="text" name="username" placeholder="Username">
			</div>
			<div class="inputBox">
				<input type="password" name="password" placeholder="Password">
			</div>
            <div class="inputBox">
                <label><input type="checkbox" name="is_safe" placeholder="Is this safe device" style="width: 30px">
                    Is this safe device</label>
			</div>    
			<div class="inputBox">
				<input type="submit" value="Login" id="btn">
			</div>
			<div class="group">
				<a href="{% url 'account:recover' %}">Forget Password</a>
				<a href="{% url 'account:signup' %}">Signup</a>
			</div>
                </form>
            
		</div>
        
	 </section>




</body>
</html>