 body{
     background: white;
     font-family: sans-serif;
 }


 form{
     width: 1600px;
     margin: 8% auto;
     padding: 50px 0;
     text-align: center;
     box-shadow: 0 30px 40px rgb(0, 0, 0);
     border-radius: 8px;
     background-color: #2196F3;
 }
