<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Jadoo{% endblock %}</title>
    <link rel="stylesheet" href="../../static/middlewares/devices.css">
    <link rel="stylesheet" href="../../static/left_sidebar/top_products.css">
    <link rel="stylesheet" href="../../static/right_sidebar/social/social_style.css">
    <link rel="stylesheet" href="../../static/left_sidebar/setting_privcy.css">
    <link rel="stylesheet" href="../../static/main_page/style.css">
    <link rel="stylesheet" href="../../static/main_page/search_bar.css">
    <meta http-equiv="X-UA-Compatible" content="ID=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../static/main_page/products_list.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" /></head>
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Material+Symbols+Rounded:opsz,wght,FILL,GRAD@48,400,0,0">
    <script src="../../static/script.js" defer></script>
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">


        <!--!!!!!?-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.min.js" integrity="sha384-BBtl+eGJRgqQAUMxJ7pMwbEyER4l1g+O15P+16Ep7Q9Q+zqX6gSbd85u4mG4QzX+" crossorigin="anonymous"></script>
    <!--!!!!!-->
	<link rel="stylesheet" href="../../static/loader.css">
    <script src="../../static/loader.js"></script>


</head>

<body>

    <div class="loader"></div>
    <nav>
        <div class="logo">
            <img class="logo-img menu-icon" src="../../media/shop_home/logo_right.png">
            <span class="logo-name">Jadoo</span>

        </div>
<div class="hero">
    <div id="searchBox">
        <img src="../../media/shop_home/search_black.png" id="jadooIcon">
        <input type="text" placeholder="Search products..">
        <img src="../../media/shop_home/mic_black.png" class="log-icon">
    </div>
</div>
<script>
    var searchBox = document.getElementById("searchBox");
    var jadooIcon = document.getElementById("jadooIcon");

    jadooIcon.onclick = function (){
        searchBox.classList.toggle("active");
    }
</script>





        <div class="sidebar">
            <div class="logo">
                <img class="logo-img menu-icon" src="../../media/shop_home/logo_right.png">
                <span class="logo-name">Jadoo</span>
            </div>
            <div class="sidebar-content">
                <ul class="lists">
                    <li class="list">
                        <a href="#" class="nav-link">
                            <i class='bx bxs-home-heart bx-tada icon' ></i>
                            <span class="link">Action</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="{% url 'features:news_list' %}" class="nav-link">
                            <i class='bx bx-news bx-tada bx-flip-horizontal icon' ></i>
                            <span class="link">News</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="nav-link">
                            <i class='bx bxs-heart bx-tada icon' ></i>
                            <span class="link">Likes</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="nav-link">
                            <i class='bx bxs-bar-chart-alt-2 bx-tada bx-flip-horizontal icon' ></i>
                            <span class="link">Chart</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="{% url 'shop:user_orders' %}" class="nav-link">
                            <i class='bx bxs-message-square-check bx-tada bx-flip-horizontal icon' ></i>
                            <span class="link">Orders</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="nav-link">
                            <i class='bx bxs-bell-ring bx-tada icon' ></i>
                            <span class="link">Notification</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="nav-link">
                            <i class='bx bxs-category bx-spin icon' ></i>
                            <span class="link">Category</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="{% url 'shop:top_products' %}" class="nav-link">
                            <i class='bx bxs-chart bx-tada icon' ></i>
                            <span class="link">Top</span>
                        </a>
                    </li>
                    <li class="list">
                        <a href="#" class="nav-link">
                            <i class='bx bxs-message-rounded-dots bx-tada icon' ></i>
                            <span class="link">Message</span>
                        </a>
                    </li>

                </ul>
                <div class="bottom-content">
                    <li class="list">
                       <a href="{% url 'features:answer_question' %}" class="nav-link">
                            <i class='bx bxs-cog bx-spin bx-flip-horizontal icon' ></i>
                            <span class="link">Settings&Privacy</span>
                        </a>
                    </li>
                    <li class="list">
                       <a href="{% url 'account:logout' %}" class="nav-link">
                            <i class='bx bxs-log-out-circle bx-fade-left bx-flip-horizontal icon' style="color: red"></i>
                            <span class="link">Log Out</span>
                        </a>
                    </li>
                </div>
            </div>
        </div>
<!--RIGHT-->
        <div class="logo1">
            <span class="logo-name1">Account</span>
            <img class="logo-img menu-icon1" src="../../media/shop_home/user_profile.png">
        </div>

        <div class="sidebar1">
            <div class="logo1">
                <img class="logo-img menu-icon1" src="../../media/shop_home/user_profile.png">
                <span class="logo-name1">Account</span>
            </div>
            <div class="sidebar-content1">
                <ul class="lists1">
                    <li class="list1">
                        <a href="{% url "shop:home" %}" class="nav-link1">
                            <i class='bx bxs-home bx-flashing bx-flip-horizontal icon1' ></i>
                            <span class="link1">Home</span>
                        </a>
                    </li>
                    <li class="list1">
                        
                        <a href="{% url "shop:personal_info" %}" class="nav-link1">
                            <i class='bx bxs-smile bx-spin bx-flip-horizontal icon1' ></i>
                            <span class="link1">Basic</span>
                        </a>
                    </li>
                    <li class="list1">
                        <a href="#" class="nav-link1">
                            <i class='bx bx-credit-card bx-fade-left bx-flip-vertical icon1' ></i>
                            <span class="link1">Cards</span>
                        </a>
                    </li>
                    <li class="list1">
                        <a href="#" class="nav-link1">
                            <i class='bx bxs-pie-chart-alt-2 bx-spin bx-flip-vertical icon1' ></i>
                            <span class="link1">Status</span>
                        </a>
                    </li>
                    <li class="list1">
                        <a href="#" class="nav-link1">
                            <i class='bx bxs-gift bx-tada bx-flip-vertical icon1' ></i>
                            <span class="link1">Gifts</span>
                        </a>
                    </li>
                    <li class="list1">
                        <a href="#" class="nav-link1">
                            <i class='bx bxs-cart-add bx-tada icon1' ></i>
                            <span class="link1">Basket</span>
                        </a>
                    </li>
                    <li class="list1">
                        <a href="{% url 'account:device_lock' %}" class="nav-link1">
                            <i class='bx bxs-devices bx-tada bx-flip-horizontal icon1' style="color: red" ></i>
                            <span class="link1">Devices</span>
                        </a>
                    </li>
                    <li class="list1">
                        <a href="{% url 'shop:social_media' %}" class="nav-link1">
                            <i class='bx bxl-youtube bx-tada bx-flip-vertical icon1' style="color: red"></i>
                            <i class='bx bxl-telegram bx-tada bx-flip-vertical icon1' style="color: deepskyblue"></i>
                            <i class='bx bxl-instagram-alt bx-tada bx-flip-vertical icon1' style="color: deeppink"></i>
                            <i class='bx bxl-facebook-circle bx-tada bx-flip-vertical icon1' style="color: blue;"></i>
                        </a>
                    </li>
                </ul>
            </div>        
        </div>

    </nav>
              {% block content %}
          {% endblock %}

    


<section class="overlay1">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const navBar = document.querySelector('nav'),
                  menuBtns1 = document.querySelectorAll('.menu-icon1'),
                  overlay1 = document.querySelector('.overlay1');

            menuBtns1.forEach((menuBtn) => {
                menuBtn.addEventListener("click", () => {
                    navBar.classList.toggle("open1");
                });
            });

            overlay1.addEventListener("click", () => {
                navBar.classList.remove("open1");
            });
        });
    </script>
</section>

<section class="overlay">
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const navBar = document.querySelector('nav'),
                  menuBtns = document.querySelectorAll('.menu-icon'),
                  overlay = document.querySelector('.overlay');

            menuBtns.forEach((menuBtn) => {
                menuBtn.addEventListener("click", () => {
                    navBar.classList.toggle("open");
                });
            });

            overlay.addEventListener("click", () => {
                navBar.classList.remove("open");
            });
        });
    </script>
</section>

</body>
</html>