{% extends 'main_page/index.html' %}

{% block title %}Jadoo∙Products{% endblock %}
{% block content %}

{#<script>#}
{#window.alert("Are you sure ?");#}
{#</script>#}

    
  <section class="sec">
<!--        card begins-->
      {% for product in products %}
            <div class="products">
                    <div class="card">
                        <div class="img"><img src="{{ product.image.url }}" alt=""></div>
                        <div class="desc">{{ product.for_who }}</div>
                        <div class="title">{{ product.name }}</div>
                        <div class="box">
                            <div class="price">{{ product.price }}$</div>
                            <button class="btn"><a href="{% url 'shop:basket_fc' product_id=product.product_id %}"><i class='bx bxs-cart-add' style='color:#ff011b'  ></i></a></button>
                            <button class="btn"><a href="{% url 'shop:product_detail' product_id=product.product_id %}">Show</a></button>
                        </div>
                    </div>
                </div>
      {% endfor %}
    </section>
{% endblock %}