{% extends 'main_page/index.html' %}

{% block title %}Jadoo∙Social{% endblock %}
{% block content %}

<section class="sec_social">
<!--        card begins-->
        <div class="socials">
            <div class="social_cards">
                <div class="img"><img src="../../media/right_sidebar/social/youtube.png" alt=""></div>
                <div class="title">Youtube∙JadooOfficial</div>
                <div class="box_card">
                    <button class="btn_social"><a href="https://www.youtube.com/@JadooOfficial">Visit</a></button>
                </div>
            </div>
        </div>
<!--        card ends-->
        <!--        card begins-->
        <div class="socials">
            <div class="social_cards">
                <div class="img"><img src="../../media/right_sidebar/social/Telegram.png" alt=""></div>
                <div class="title">Telegram∙jadoo_oficial</div>
                <div class="box_card">
                    <button class="btn_social"><a href="https://t.me/+5OMhP5RuR09kNjU6">Visit</a></button>
                </div>
            </div>
        </div>
<!--        card ends-->
        <!--        card begins-->
        <div class="socials">
            <div class="social_cards">
                <div class="img"><img src="../../media/right_sidebar/social/Instagram.png" alt=""></div>
                <div class="title">Instagram∙jadoo_uz</div>
                <div class="box_card">
                    <button class="btn_social"><a href="https://www.instagram.com/">Visit</a></button>
                </div>
            </div>
        </div>
<!--        card ends-->
        <!--        card begins-->
        <div class="socials">
            <div class="social_cards">
                <div class="img"><img src="../../media/right_sidebar/social/Facebook.png" alt=""></div>
                <div class="title">Facebook∙Jadoo</div>
                <div class="box_card">
                    <button class="btn_social"><a href="https://www.facebook.com/profile.php?id=61554046920200">Visit</a></button>
                </div>
            </div>
        </div>
<!--        card ends-->


    </section>
{% endblock %}