{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jadoo∙SignUp</title>
	<link rel="stylesheet" href="../../../static/signup.css">
</head>
<body>
	<section>
		<img src="../../../media/main_page/back.jpg" class="bg">
<form method="post">
    {% csrf_token %}
		<div class="login">
			<h2>Sign Up</h2>
			<div class="inputBox">
				<input type="text" name="name" placeholder="First Name">
			</div>
            <div class="inputBox">
				<input type="text" name="last_name" placeholder="Last Name">
			</div>
            <div class="inputBox">
				<input type="text" name="username" placeholder="Username">
			</div>
            <div class="inputBox">
				<input type="email" name="email" placeholder="Email">
			</div>
			<div class="inputBox">
				<input type="password" name="password" placeholder="Password">
			</div>
            <div class="inputBox">
				<input type="password" name="password_confirm" placeholder="Password Confirm">
			</div>
			<div class="inputBox">
				<input type="submit" value="Sign Up" id="btn">
			</div>
			<div class="group">
				<a href="{% url 'account:recover' %}">Forget Password</a>
				<a href="{% url 'account:login' %}">Log In</a>
			</div>
		</div>
</form>
		
	</section>
</body>
</html>