{% extends 'main_page/index.html' %}

{% block title %}Jadoo∙Top{% endblock %}


{% block content %}
<style>
   .table{
    margin-top: -400px;
    width: 1500px;
    margin-left: 5%;
    }
</style>
        <section>
            <div>
                <div>
                    <table class="table table-striped table-hover mt-3 text-center table-bordered">

                        <tbody>
                            <tr>
                                <td><h2>Position</h2></td>
                                <td><h2>Picture</h2></td>
                                <td><h2>Name</h2></td>
                                <td><h2>Rate</h2></td>
                                <td><h2>ID</h2></td>
                                <td><h2>Price</h2></td>
                            </tr>
                        </tbody>

                        <tbody id="datahg">
                            <tr>
                            <td><h3>1🥇</h3></td>
                            <td><img src="../../media/left_sidebar/tops/1.jpeg" alt="" width="100" height="100"> </td>
                            <td><h3>TV</h3></td>
                            <td><h3>4.8⭐</h3></td>
                            <td><h3>fsiufhdjfbbfhjs</h3></td>
                            <td><h3>18$</h3></td>
                            </tr>
                        </tbody>
                         <tbody id="dat0a">
                            <tr>
                            <td><h3>2🥇</h3></td>
                            <td><img src="../../media/left_sidebar/tops/2.jpeg" alt="" width="100" height="100"> </td>
                            <td><h3>TV</h3></td>
                            <td><h3>4.8⭐</h3></td>
                            <td><h3>fsiufhdjfbbfhjs</h3></td>
                            <td><h3>9$</h3></td>
                            </tr>
                        </tbody>
                         <tbody id="data0">
                            <tr>
                            <td><h3>3🥇</h3></td>
                            <td><img src="../../media/left_sidebar/tops/3.jpeg" alt="" width="100" height="100"> </td>
                            <td><h3>TV</h3></td>
                            <td><h3>4.8⭐</h3></td>
                            <td><h3>fsiufh</h3></td>
                            <td><h3>5$</h3></td>
                            </tr>
                        </tbody>
                        <tbody id="data0e">
                            <tr>
                            <td><h3>4</h3></td>
                            <td><img src="../../media/left_sidebar/tops/4.jpeg" alt="" width="100" height="100"> </td>
                            <td><h3>TV</h3></td>
                            <td><h3>4.8⭐</h3></td>
                            <td><h3>fsiufhdjfbbfhjs</h3></td>
                            <td><h3>200$</h3></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>

{% endblock %}