{% extends 'main_page/index.html' %}

{% block title %}Jadoo∙Orders{% endblock %}


{% block content %}
<style>
   .table{
    margin-top: -400px;
    width: 1500px;
    margin-left: 5%;
    }
</style>
        <section>
            <div>
                <div>
                    <table class="table table-striped table-hover mt-3 text-center table-bordered">

                        <tbody>
                            <tr>
                                <td><h1 style="color: dodgerblue">Order_ID</h1></td>
                                <td><h1 style="color: dodgerblue">Product_Name</h1></td>
                                <td><h1 style="color: dodgerblue">Price</h1></td>
                                <td><h1 style="color: dodgerblue">Payment_status</h1></td>
                                <td><h1 style="color: dodgerblue">Quantity</h1></td>
                                <td><h1 style="color: dodgerblue">Order_Status</h1></td>
                                <td><h1 style="color: dodgerblue">Canceled</h1></td>
                                <td><h1 style="color: dodgerblue">Date</h1></td>

                            </tr>
                        </tbody>
<!--    # red-->
<!--    OPTION1 = 'Paring'-->
<!--    # orange-->
<!--    OPTION2 = 'Sending'-->
<!--    # yellow-->
<!--    OPTION3 = 'Ready'-->
<!--    # green-->
<!--    OPTION4 = 'Delivered'-->
                        <tbody id="datahg">
                            <tr>
                            <td><h2 style="color: red">1</h2></td>
                            <td><h2 style="color: mediumpurple">Iphone15</h2></td>
                            <td><h2>1200$</h2></td>
                            <td><h2 style="color: lawngreen">True</h2></td>
                            <td><h2>1</h2></td>
                            <td><h2 style="color: lawngreen">Delivered</h2></td>
                            <td><h2 style="color: red">False</h2></td>
                            <td><h2>20-02-2024</h2></td>
                            </tr>
                        </tbody>

                        <tbody id="datah8g">
                            <tr>
                            <td><h2 style="color: red">2</h2></td>
                            <td><h2 style="color: mediumpurple">Iphone12</h2></td>
                            <td><h2>1900$</h2></td>
                            <td><h2 style="color: red">False</h2></td>
                            <td><h2>2</h2></td>
                            <td><h2 style="color: yellow">Ready</h2></td>
                            <td><h2 style="color: red">False</h2></td>
                            <td><h2>20-02-2024</h2></td>
                            </tr>
                        </tbody>

                        <tbody id="data5hg">
                            <tr>
                            <td><h2 style="color: red">3</h2></td>
                            <td><h2 style="color: mediumpurple">HP ENVY</h2></td>
                            <td><h2>1300$</h2></td>
                            <td><h2 style="color: red">False</h2></td>
                            <td><h2>1</h2></td>
                            <td><h2 style="color: red">Pairing</h2></td>
                            <td><h2 style="color: lawngreen">True</h2></td>
                            <td><h2>17-02-2024</h2></td>
                            </tr>
                        </tbody>

                        <tbody id="da3tahg">
                            <tr>
                            <td><h2 style="color: red">4</h2></td>
                            <td><h2 style="color: mediumpurple">Iphone11</h2></td>
                            <td><h2>200$</h2></td>
                            <td><h2 style="color: lawngreen">True</h2></td>
                            <td><h2>1</h2></td>
                            <td><h2 style="color: yellow">Ready</h2></td>
                            <td><h2 style="color: red">False</h2></td>
                            <td><h2>26-02-2024</h2></td>
                            </tr>
                        </tbody>

                        <tbody id="dat4ahg">
                            <tr>
                            <td><h2 style="color: red">5</h2></td>
                            <td><h2 style="color: mediumpurple">SamsungS23</h2></td>
                            <td><h2>1290$</h2></td>
                            <td><h2 style="color: red">False</h2></td>
                            <td><h2>1</h2></td>
                            <td><h2 style="color: red">Pairing</h2></td>
                            <td><h2 style="color: red">False</h2></td>
                            <td><h2>27-02-2024</h2></td>
                            </tr>
                        </tbody>

                        <tbody id="dat24ahg">
                            <tr>
                            <td><h2 style="color: red">6</h2></td>
                            <td><h2 style="color: mediumpurple">SamsungS23</h2></td>
                            <td><h2>1300$</h2></td>
                            <td><h2 style="color: red">False</h2></td>
                            <td><h2>1</h2></td>
                            <td><h2 style="color: orange">Sending</h2></td>
                            <td><h2 style="color: lawngreen">True</h2></td>
                            <td><h2>27-02-2024</h2></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </section>
{% endblock %}