body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}
.product-container {
    width: 80%;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    text-align: center;
}
.product-image {
    max-width: 50%;
    height: auto;
    border-radius: 5px;
    margin-right: 20px;
}
.product-details {
    width: 50%;
    text-align: left;
}
h2 {
    color: #333;
}
p {
    color: #666;
}
.price {
    color: #e44d26;
    font-size: 1.2em;
    font-weight: bold;
}
.buy-btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #e44d26;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
    margin-top: 20px;
}
.buy-btn:hover {
    background-color: #333;
}
.counter-container {
    margin-top: 20px;
    display: flex;
    align-items: center;
}
.counter-btn {
    background-color: #e44d26;
    color: #fff;
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    margin: 0 5px;
    cursor: pointer;
}
.quantity {
    font-size: 1.2em;
    margin: 0 10px;
}