<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="ID=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jadoo</title>
<body>
<style>
    .sec_social{
    padding: 450px 18%;
 }
.socials .social_cards{
    width: 750px;
    background: cornflowerblue;
    box-shadow: 0 100px 200px rgba(0, 0, 0, 0.3);
    border-radius: 30px;
    padding: 5px;
    margin-bottom: 20px;
    margin-left: 230px;
}


.socials .social_cards .title{
    font-weight: 900;
    font-size: 20px;
    color: red;
    padding: 0 20px;
}
</style>

    <section class="sec_social">
        <div class="socials">
            <div class="social_cards">
                <div class="title"><h1>Access Denied. You are blocked 🔐.</h1></div>
            </div>
        </div>
    </section>
</body>
</html>