.loader{
    position: fixed;
    top: 0;
    left: 0;
    width: 200vh;
    height: 100vh;
    display: flex;
    float: left;
    justify-content: center;
    align-items: center;
    background: none;
    transition: opacity 2s, visibility 2s;
}


.loader-hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid white;
    border-top-color: #2196F3;
    border-radius: 50%;
    animation: loading 2s ease infinite;
}


@keyframes loading {
    from{
        transform: rotate(0turn);
    }
    to{
        transform: rotate(1turn);
    }

}