{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Jadoo∙Recover</title>
	<link rel="stylesheet" href="../../../static/login.css">

</head>
<body>
	<section>
		<img src="../../../media/main_page/back.jpg" class="bg">
<form method="post">
		<div class="login">
            {% csrf_token %}
			<h2>Recover Account</h2>
			<div class="inputBox">
				<input type="email" name="email" placeholder="Email">
			</div>
			<div class="inputBox">
				<input type="submit" value="Recover" id="btn">
			</div>
			<div class="group">
				<a href="{% url 'account:login' %}">LogIn</a>
				<a href="{% url 'account:signup' %}">SignUp</a>
			</div>
		</div>
</form>
	</section>
</body>
</html>